<html>
  <head>
    <title>Registration</title>
  </head>
  <body>
    <% if session[:error_type] %>
    <p><%= session[:error_type] %></p>
    <% end %>
    <p>Register</p>
    <form action="/register" method="post">
      Email: <input type="email" name="email"><br />
      Password: <input type="password" name="password">
      <input type="submit" value="Register">
    </form>
  </body>
</html>
