<html>
  <head>
    <title>Registration</title>
  </head>
  <body>
    <% if params[:reason] %>
    <p>You didn't enter an email address! Please try again.</p>
    <% end %>
    <p>Register</p>
    <form action="/register" method="post">
      Email: <input type="email" name="email"><br />
      Password: <input type="password" name="password">
      <input type="submit" value="Register">
    </form>
  </body>
</html>
